/*
* @Author: dontry
* @Date:   2017-01-01 22:40:31
* @Last Modified by:   dontry
* @Last Modified time: 2017-01-02 11:56:16
*/

body {
    text-align: center;
}

body {
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

label {
    text-transform: capitalize;
}

input {
    width: 100px;
}

img {
    width: 600px;
    height: 400px;
}
